<div class="row">
  <div class="pull-left">
    <h2>Institutions - <%= @institution.name %></h2>
  </div>
  <div class="pull-right">
    <%= link_to "Edit Institution", edit_institution_path(@institution) %>
  </div>
</div>
<hr/>
<%= render 'summary' %>
